.App {
  text-align: center;
  border: 2px solid black;
  font-family: "Barlow Condensed", sans-serif;
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
